@use "../../../scss/variables";
@use "../../../scss/mixins";

.header__container {
  max-width: 100%;
  height: 100%;
  height: auto;
  @include mixins.display-grid;
  grid-template-columns: 1.8fr 1fr;
  grid-column: span 12;
  gap: 30px;
  padding-right: 25px;

  .header__content__text {
    @include mixins.display-start;
    flex-direction: column;
    padding-bottom: 320px;

    .header__title {
      font-size: variables.$header_title_h1;
      font-weight: variables.$font_weight_900;
      line-height: variables.$line_height1_1;
      color: variables.$dark_green;
      padding: variables.$padding_title;
      max-width: 80%;
    }

    .header__description {
      font-size: variables.$font_size_text;
      font-weight: variables.$font_weight_400;
      line-height: variables.$line_height1_6;
      padding: 0 0 100px 25px;
    }

    .header__btn__container {
      padding: 0 0 0 25px;
      @include mixins.display-flex;
      gap: 20px;

      .header__btns {
        padding: 18px 46px;
        font-size: 1.75rem;
        font-weight: 400;
        cursor: pointer;
        border: solid 1.8px variables.$light_green;
        border-radius: 40px;
        background-color: #fff;
        transition: all 0.5s;
        text-decoration: none;
        color: variables.$text_blackish;
        &:first-child {
          background-color: variables.$red_autumn;
          color: variables.$white_color;
        }
        &:hover {
          background-color: variables.$light_green;
          color: #fff;
          transition: all 0.5s;
        }
      }
    }
  }

  .header__img {
    width: 100%;
    height: 620px;
    margin-top: 25px;
    aspect-ratio: 1 / 1.2;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
      border-radius: 22px;
      pointer-events: none;
    }

    .header__notifications {
      width: 200px;
      height: 116px;
      background-color: #fff;
      border: solid 1px variables.$light-red-autumn;
      border-radius: 9px;
      position: absolute;
    }
    .header__notifications:nth-child(2) {
      top: 400px;
      left: -50px;
    }
    .header__notifications:nth-child(3) {
      top: 80px;
      left: 337px;
    }
    .header__notifications:nth-child(4) {
      top: 533px;
      left: 256px;
    }
  }
}

/*================================================
  Media Queries
  ================================================
*/
@media screen and (max-width: 1295px) {
  .header__container {
    .header__content__text {
      .header__title {
        max-width: 100%;
      }
      .header__description {
        max-width: 95%;
      }
    }
    .header__img {
      aspect-ratio: 1 / 1.4;
    }
    .header__notifications:nth-child(3) {
      //top: 80px;
      left: 256px !important;
    }
    .header__notifications:nth-child(4) {
      //top: 533px;
      left: 220px !important;
    }
  }
}

@media screen and (max-width: 1076px) {
  .header__container {
    grid-template-columns: 1fr 1fr;

    .header__content__text {
      .header__btn__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .header__btns {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .header__btns:nth-child(2) {
          grid-column: span 2;
        }
      }
    }
    .header__img {
      aspect-ratio: 1 / 2;
    }
    .header__notifications:nth-child(3) {
      top: 80px;
      left: 305px !important;
    }
    .header__notifications:nth-child(4) {
      top: 533px;
      left: 260px !important;
    }
  }
}

@media screen and (max-width: 1020px) {
  .header__container {
    grid-template-columns: 1fr;
    padding: 0 25px 250px;

    .header__content__text {
      min-height: auto;
      padding-bottom: 0;
      .header__title {
        max-width: 100%;
        text-align: center;
      }
      .header__description {
        margin: 0 auto;
        text-align: center;
        max-width: 80%;
      }
      .header__btn__container {
        display: flex;
        margin: 0 auto;
      }
    }
    .header__img {
      margin-top: 100px;

      .header__notifications:nth-child(2) {
        //left: -15px !important;
        display: none;
      }
      .header__notifications:nth-child(3) {
        //left: 780px !important;
        display: none;
      }
      .header__notifications:nth-child(4) {
        //left: 710px !important;
        display: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .header__container {
    .header__content__text {
      .header__title {
        text-align: left;
        padding-left: 0;
        max-width: 100%;
      }
      .header__description {
        margin: 0;
        padding-left: 0;
        text-align: left;
        max-width: 100%;
      }
      .header__btn__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        //padding-left: 0;

        .header__btns {
          width: 100%;
        }
      }
    }
  }
}
