@use "../../../scss/mixins";
@use "../../../scss/variables.scss";

.services__container {
  background-color: variables.$light_brown;
  @include mixins.display-grid;
  grid-template-columns: 1fr;
  grid-column: span 12;
  padding: 200px 0 300px;
  position: relative;
}

.services__triangle1 {
  width: 100%;
  height: 540px;
  background-color: variables.$light_brown;
  position: absolute;
  top: -343px;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: skew(0deg, -9deg);
}

.services__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  .services__illu__title {
    padding-left: 160px;
    @include mixins.illu-icon-container;

    .services__illu {
      @include mixins.illu-icon;
    }
    .services__title__H4 {
      @include mixins.title-h4;

      .span__title {
        @include mixins.span-title-h4;
      }
    }
  }
  .services__title__H2 {
    @include mixins.title-h2;
    width: 60%;
    text-align: center;
    color: variables.$dark_brown;
  }
}

.services__description__P {
  padding: 0 300px 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.0625rem;
  line-height: 1.6;
  color: variables.$dark_brown;
}

.services__tab__container {
  width: 60%;
  margin: 0 auto;
  border-radius: 22px;
  
  &:hover {
    box-shadow: 0px 6px 15px -4px rgba(0, 0, 0, 0.1);
  }

  .services__btns__container {
    background-color: variables.$white_color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: solid .4px variables.$light-red-autumn;
    border-bottom: none;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

    .services__btns {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 28px 0 28px;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.0625rem;
      font-weight: bolder;
      position: relative;

      &:hover::after {
        content: "";
        width: 100%;
        height: 8.5px;
        //background-color: #ffffff;
        position: absolute;
        bottom: -1px;
      }
    }

    .services__btns {
      &.activeTab__btn::after {
        content: "";
        width: 50%;
        height: 10px;
        background-color: variables.$brown_normal;
        position: absolute;
        bottom: -6px;
        border-radius: 22px;
      }
    }
    .services__btns:nth-child(1) {
      border-top-left-radius: 22px;
    }
    .services__btns:nth-child(4) {
      border-top-right-radius: 22px;
    }
  }

  .services__tab__content {
    padding: 40px 80px 90px;
    background-color: variables.$white_color;
    border: solid .4px variables.$light-red-autumn;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    text-align: center;

    .services__tab__P {
      display: none;

      &.activeTab__text {
        display: flex;
        font-size: 1.0625rem;
        line-height: variables.$line_height1_6;
      }
    }
  }
}

//Media screen
@media screen and (max-width: 1200px) {
  .services__content {
    .services__illu__title {
      padding-left: 80px;
    }
    .services__title__H2 {
      width: 80%;
    }
  }
  .services__description__P {
    padding: 0 100px 80px;
  }
  .services__tab__container {
    width: 80%;
  }
}

@media screen and (max-width: 860px) {
  .services__content {
    .services__illu__title {
      padding-left: 50px;
    }
    .services__title__H2 {
      width: 90%;
    }
  }
  .services__description__P {
    padding: 0 30px 80px;
  }
  .services__tab__container {
    width: 90%;

    .services__tab__content {
      padding: 40px 20px 90px;
    }
  }
}

@media screen and (max-width: 540px) {
  .services__content {
    .services__illu__title {
      padding-left: 20px;
    }
    .services__title__H2 {
      width: 90%;
      text-align: left;
    }
  }
  .services__description__P {
    text-align: left;
  }
}
