.favorite__header {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 12;
  padding: 41px 75px 200px 75px;
}

.favorite__button {
  width: 230px;
  padding: 23.5px;
  border: solid 0.4px #e03e18;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;

  .btn__icon {
    color: #a23b24;
  }

  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #e03e18;
    color: #fff;

    .btn__icon {
      color: #fff;
    }
  }
}

.btn__container {
  padding: 80px 86px 30px;
  display: flex;
  justify-content: center;

  & > * {
    background-color: #fff;
    border: solid 0.4px #e03e18;
    width: 45%;
    height: 110px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.0625rem;
    font-weight: 900;
    transition: all 0.5s;
  }
  .btn__house {
    &:nth-child(1) {
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;
    }

    &:nth-child(2) {
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;
    }

    &.active__btn {
      background-color: #fdf5ed;
      color: #a23b24;
    }
  }
  .btn__location {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
}

.cards__container {
  padding: 0 100px;
  height: auto;

  .favorite__cards {
    height: auto;
    border: solid 0.4px #e03e18;
    border-radius: 22px;
    transition: all 0.5s;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    &:hover {
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .card__favorite {
      position: relative;
      aspect-ratio: 1 / 1.28;

      .card__like {
        background-color: rgb(255, 255, 255);
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 15px;
        border: solid 1px #08a1ba;
        border-radius: 9px;
        color: #08a1ba;
        cursor: pointer;

        .like__icon {
          color: #08a1ba;
          border: none;
          background-color: transparent;
          padding: 3.8px;
          cursor: pointer;
        }
      }
      img {
        background-color: lightblue;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 22px;
      }
      &.stacked {
        display: grid;
      }
      &.stacked > * {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .card__content {
        background: hsl(0, 0%, 100%);
        align-self: end;
        margin: 8px 8px 16px;
        padding: 20px;
        border: solid 0.4px #08a1ba;
        border-radius: 22px;

        .card__title {
          display: flex;
          gap: 20px;
          padding-bottom: 15px;
          .green__span {
            color: #08a1ba;
          }

          .card__H4 {
            font-size: 1.25rem;
            font-weight: bold;
            color: #181b52;
          }

          .card__item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: #08a1ba;

            .card__P {
              color: #000;
            }
          }
        }
      }
    }
  }
}
