@use "../../scss/mixins";
@use "../../scss/variables";

.home-container {
  background-color: variables.$white_color;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  @include mixins.display-grid;
  grid-template-columns: repeat(12, 1fr);
}

//@media screen and (max-width: 1750px) {
//  .home-container {
//    max-width: 1750px;
//    background-color: blue;
//  }
//}