@use "../../scss/mixins";

.head__container {
  //background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 12;
  gap: 5px;
  padding: 81px 25px 162px;

  .img__container {
    //background-color: rgb(247, 24, 80);
    height: 320px;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
    }
  }
  .img__container:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 645px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    img {
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;
    }
  }

  .img__container:nth-child(3) {
    border-top-right-radius: 22px;

    img {
      border-top-right-radius: 22px;
    }
  }
  .img__container:nth-child(4) {
    grid-column: 3;
  }
  .img__container:nth-child(5) {
    border-bottom-right-radius: 22px;

    img {
      border-bottom-right-radius: 22px;
    }
  }
}

.info__container {
  //background-color: lightslategrey;
  grid-column: span 12;
  padding: 0 25px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 20px;
  width: 80%;
  margin: 0 auto;

  .info__content {
    background-color: hsl(0, 0%, 100%);
    border: solid 0.4px #2dc1df;
    border-radius: 22px;
    height: 400px;
    padding: 20px;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .info__info {
      display: flex;
      align-items: center;
      gap: 15px;
      //background-color: lightgreen;
      padding-bottom: 45px;

      .info__element {
        border: solid 0.4px #2dc1df;
        padding: 15px 40px;
        border-radius: 12px;

        .info__boldtext {
          font-weight: 900;
          color: #181b52;
        }
        &.info__icon {
          color: #2dc1df;
          padding: 8px 40px;
          font-size: 32px;
          display: flex;
          align-items: center;
        }
      }
    }
    .info__description {
      //background-color: lightpink;

      .info__titleH5 {
        font-size: 20px;
        padding-bottom: 30px;
        color: #181b52;
      }
      p {
        @include mixins.paragraph-body;
      }
    }
    .info__textcontent {
      //background-color: lightpink;
      display: flex;
      gap: 75px;

      .info__weight {
        font-weight: 600;
      }

      .info__titleH5 {
        font-size: 20px;
        padding-bottom: 30px;
        color: #181b52;
      }
      p {
        @include mixins.paragraph-body;
      }
    }
    &.info__energydata {
      .info__weight {
        font-weight: 600;
      }
      .info__titleH5 {
        font-size: 20px;
        padding-bottom: 30px;
        color: #181b52;
      }
      p {
        @include mixins.paragraph-body;

        .energy__classA {
          background-color: #329531;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classB {
          background-color: #31c632;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classC {
          background-color: #c6f732;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classD {
          background-color: #f7f700;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classE {
          background-color: #f7c600;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classF {
          background-color: #f79431;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
        .energy__classG {
          background-color: #f70001;
          color: hsl(0, 0%, 100%);
          padding: 2px 12px;
          border-radius: 6px;
        }
      }
    }
    &.info__contact {
      display: flex;
      flex-direction: column;
      align-items: center;

      .info__titleH5 {
        font-size: 20px;
        padding-bottom: 100px;
        color: #181b52;
      }
      .info__button {
        padding: 18px 46px;
        font-size: 1.75rem;
        font-weight: 400;
        cursor: pointer;
        border: solid 0.4px #08a1ba;
        border-radius: 40px;
        background-color: #fff;
        transition: all 0.5s;
        text-decoration: none;
        color: #181b52;

        &:hover {
          background-color: #181b52;
          color: hsl(0, 0%, 100%);
          border: none;
        }
      }
    }
  }
}
