@use "../../../scss/variables.scss";
@use "../../../scss/mixins";

.location__container {
  max-width: 100%;
  background-color: variables.$white_color;
  grid-column: span 12;
  position: relative;
}

.location__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 30px;
  padding-top: 170px;

  .location__text {
    padding: 70px 0 0 25px;
    z-index: 200;

    .illu__container {
      @include mixins.display-start-center;
      gap: 12px;
      padding: 0 0 19px 0;

      .location__illu {
        @include mixins.illu-icon;
      }
      .title__H4 {
        @include mixins.title-h4;

        .span__title {
          @include mixins.span-title-h4;
        }
      }
    }
    .title__H2 {
      @include mixins.title-h2;
      width: 75%;
    }
    .location__P {
      @include mixins.paragraph-body;
      padding: 0 0 60px;
    }

    .location__btn {
      font-size: 1.75rem;
      width: 280px;
      font-weight: 400;

      .location__a {
        color: variables.$white_color;
        text-decoration: none;
        padding: 30px;
        border: none;
        border-radius: 50px;
        background-color: variables.$red_autumn;
        @include mixins.display-center;
        transition: all ease-in 0.7s;

        &:hover {
          background-color: variables.$light_green;
          transition: all ease-in 0.7s;
        }
      }
    }
  }

  .location__slider {
    padding-top: 70px;
    z-index: 200;

    .slider__container {
      min-width: 100%;
      height: auto;
      @include mixins.display-flex;
      gap: 40px;
      overflow: scroll;
      padding-right: 5px;
      border: none;
      background-color: transparent;

      &::-webkit-scrollbar {
        display: none;
      }

      .slider__content {
        min-width: 482px;
        height: auto;
        border: none;
        border-radius: 9px;

        .slider__imgText {
          @include mixins.display-center;
          flex-direction: column;

          .slider__img {
            width: 100%;
            height: 378px;
            border-radius: 22px;

            img {
              width: 100%;
              height: 100%;
              background-size: cover;
              object-fit: cover;
              object-position: center;
              border-radius: 22px;
            }
          }
          .slider__text {
            background-color: variables.$white_color;
            width: 432px;
            height: auto;
            border: solid 0.4px variables.$light-red-autumn;
            border-radius: 22px;
            margin-top: -48px;
            padding: 20px;

            .title__H3 {
              @include mixins.title_h3;
              padding-bottom: 15px;
            }
            .slider__description {
              @include mixins.paragraph-body;
              padding: 0 0 20px 0;
            }
            .review__container {
              @include mixins.display-between;

              .review__images {
                @include mixins.display-start-center;

                .review__img {
                  width: 46px;
                  height: 46px;
                  border: solid 2px variables.$normal_green;
                  border-radius: 80px;
                  margin-right: -12px;

                  img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    object-fit: cover;
                    border-radius: 80px;
                  }
                }
              }
              .review__starText {
                @include mixins.display-between;

                .review__star {
                  width: 25px;
                  height: 25px;

                  img {
                    width: 100%;
                  }
                }
                .review__P {
                  color: variables.$dark_brown;
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.location__map {
  width: 100%;
  height: 800px;
  background-size: contain;
  object-fit: contain;
  object-position: top;
  margin-top: -400px;
  @include mixins.display-center;
  z-index: 0;

  img {
    width: 100%;
  }
}

/*================================================
  Media queries
  ================================================
*/
@media screen and (max-width: 989px) {
  .location__container {
    padding: 0 25px 0;
  }
}

@media screen and (max-width: 530px) {
  .location__slider {
    .slider__container {
      max-width: 80%;
    }
  }
}
