@use "../../../scss/mixins";
@use "../../../scss/variables";

.contact__container {
  background-color: variables.$white_color;
  width: 100%;
  height: auto;
  @include mixins.display-grid;
  grid-template-columns: 1fr;
  grid-column: span 12;
}

.contact__content {
  @include mixins.display-grid;
  grid-template-columns: 1fr 1.2fr;
  max-width: 100vw;
  height: auto;
  padding-bottom: 120px;

  .contact__text {
    padding: 50px 0 100px 25px;

    .contact__illuContainer {
      @include mixins.illu-icon-container;

      .contact__illu {
        @include mixins.illu-icon;
      }

      .contact__titleH4 {
        @include mixins.title-h4;

        .span__title {
          @include mixins.span-title-h4;
        }
      }
    }
    .contact__titleH2 {
      @include mixins.title-h2;
    }
    .contact__description {
      @include mixins.paragraph-body;
    }
  }
  .contact__images {
    //background-color: lightseagreen;
    @include mixins.flexend-nocenter;
    gap: 40px;

    img {
      background-size: cover;
      object-fit: cover;
      border: solid 3px variables.$normal_green;
    }
    img:nth-child(1) {
      width: 280px;
      height: 280px;
      border-radius: 140px;
      align-self: flex-end;
    }
    img:nth-child(2) {
      width: 180px;
      height: 180px;
      border-radius: 90px;
    }
    img:nth-child(3) {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      align-self: center;
    }
  }
}

.form__container {
  @include mixins.display-grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 200px;
  background-color: red;
  //TODO: @media

  .form__content {
    @include mixins.display-start;
    flex-direction: column;
    padding: 0 0 10px 25px;

    .input__container {
      @include mixins.display-start;
      margin-bottom: 20px;

      .input__input {
        width: 289px;
        height: 65px;
        border: solid 0.4px variables.$light-red-autumn;
        border-radius: 9px;
        margin-right: 20px;
        padding-left: 25px;
        padding-right: 18px;
        @include mixins.display-between;
        font-size: 1.125rem;

        &[type="text"] {
          font-size: 1.125rem;
        }
        .input__button {
          @include mixins.display-center;
          border: none;
          cursor: pointer;
          color: variables.$red-autumn;
          background-color: transparent;
        }
      }
    }
    .input__email {
      width: 598px;
      height: 65px;
      border: solid 0.4px variables.$light-red-autumn;
      border-radius: 9px;
      padding-left: 25px;
      margin-bottom: 20px;

      &[type="text"] {
        font-size: 1.125rem;
      }
    }
    .input__textarea {
      width: 598px;
      height: 180px;
      border: solid 0.4px variables.$light-red-autumn;
      border-radius: 9px;
      padding: 25px;
      margin-bottom: 20px;
      resize: none;
    }
    .form__button {
      width: 598px;
      height: 65px;
      border: none;
      border-radius: 30px;
      background-color: variables.$red-autumn;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 700;
      cursor: pointer;
      transition: all ease-in 0.7s;

      &:hover {
        background: variables.$light_green;
        transition: all ease-in 0.7s;
      }
    }
  }
  .form__call {
    width: 100%;
    height: auto;

    .form__callContent {
      @include mixins.display-start;
      gap: 15px;

      .call__btn {
        @include mixins.display-start-center;
        gap: 8px;
        width: 189px;
        height: 65px;
        border: solid 0.4px variables.$light-red-autumn;
        border-radius: 94.5px;
        padding: 0 25px;
        background-color: variables.$red-autumn;
        color: variables.$white_color;
        font-size: 1.125rem;
        cursor: pointer;
        transition: all ease-in 0.7s;

        &:hover {
          background: variables.$light-green;
          border: solid 0.4px variables.$light-green;
          transition: all ease-in 0.7s;
        }
      }
      .input__container {
        @include mixins.display-start;
        margin-bottom: 20px;

        .input__input {
          width: 289px;
          height: 65px;
          border: solid 0.4px variables.$light-red-autumn;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          margin-right: 20px;
          padding: 0 25px;
          @include mixins.display-between;
          font-size: 1.125rem;

          &[type="text"] {
            font-size: 1.125rem;
          }
          .input__button {
            @include mixins.display-center;
            border: none;
            cursor: pointer;
            color: variables.$red-autumn;
            background-color: transparent;
          }
          &.isSelected {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
          }
        }
      }
    }
    .social__container {
      @include mixins.display-flex;
      gap: 20px;
      padding: 40px 120px 0 0;

      .social__content {
        background-color: variables.$white_color;
        @include mixins.display-center;
        width: 80px;
        height: 80px;
        font-size: 28px;
        border: solid 0.4px variables.$light-red-autumn;
        border-radius: 9px;
        color: variables.$light-red-autumn;
        cursor: pointer;
        transition: all ease-in 0.7s;

        a {
          color: variables.$normal-green;
          transition: all ease-in 0.7s;
        }

        &:hover {
          box-shadow: 0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);
          transition: all ease-in 0.7s;
        }
      }
      .social__content:nth-child(1) {
        &:hover {
          color: variables.$social_linkedin;
          border: solid 0.4px variables.$social_linkedin;
          & a {
            color: variables.$social_linkedin;
          }
        }
      }
      .social__content:nth-child(2) {
        &:hover {
          color: variables.$social_instagram;
          border: solid 0.4px variables.$social_instagram;
          & a {
            color: variables.$social_instagram;
          }
        }
      }
      .social__content:nth-child(3) {
        &:hover {
          color: variables.$social_twitter;
          border: solid 0.4px variables.$social_twitter;
          & a {
            color: variables.$social_twitter;
          }
        }
      }
    }
  }
}

/*================================================
  Media Screen
  ================================================
*/
