@use "../../../scss/variables";
@use "../../../scss/mixins";

.about__container {
  max-width: 100%;
  height: auto;
  @include mixins.display-grid;
  grid-template-columns: 1fr 1.4fr;
  grid-column: span 12;
  gap: 100px;
  padding: 180px 25px 180px;
}

.about__image {
  //width: 555px;
  height: 435px;
  background-color: variables.$white_color;
  border-radius: 22px;
  position: relative;
  aspect-ratio: 1.2;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 22px;
    pointer-events: none;
  }
  .about__exp {
    background-color: variables.$white_color;
    width: 280px;
    height: auto;
    padding: 15px;
    border: solid 0.4px variables.$light-red-autumn;
    border-radius: 8px;
    position: absolute;
    top: -25px;
    left: 207px;

    .about__exp__P {
      font-size: 1.0625rem;
      line-height: 1.2;
    }
  }
}



.founderSlider__container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: variables.$white_color;
  @include mixins.display-flex;
  overflow: hidden;
  position: relative;
  transition: all ease-in 0.7s;
}

.about__slider {
  background-color: variables.$white_color;
  max-width: 255px;
  height: auto;
  border-radius: 8px;
  position: absolute;
  bottom: -80px;
  left: 40px;
}
.slider__container {
  margin: 0 auto;
  width: 100%;
  height: 135px;
  background-color: variables.$white_color;
  border: solid 0.4px variables.$light-red-autumn;
  border-radius: 8px;
  @include mixins.display-flex;
  overflow: hidden;
  position: relative;

  .about__slide {
    background-color: variables.$white_color;
    border-radius: 8px;
    padding: 15px 0 15px 10px;
    @include mixins.display-flex;
    

    .slider__img {
      width: 127.5px;

      .about__avatar {
        width: 56px;
        height: 56px;
        background-color: variables.$white_color;
        border-radius: 30px;

        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
          border: solid 0.4px variables.$light-red-autumn;
          border-radius: 50px;
          pointer-events: none;
        }
      }
      .about__person {
        @include mixins.flex-column;
        font-size: 1.0625rem;
        color: variables.$dark_brown;

        .about__position {
          color: variables.$text_greyish;
        }
      }
    }
    .slider__btn {
      width: 125.5px;

      .about__stars {
        width: 20px;
        height: 20px;
        @include mixins.display-start-nocenter;
        margin: 10px 10px 5px 0;
        color: variables.$canary_coalmine;

        img {
          width: 100%;
        }
      }
      .about__contact {
        width: 100px;
        height: 50px;
        @include mixins.display-center;
        background: variables.$red_autumn;
        border: none;
        border-radius: 30px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.6s;

        &:hover {
          background: variables.$light_green;
          transition: all 0.6s;
        }
        .about__a {
          text-decoration: none;
          color: variables.$white_color;
        }
      }
    }
    &.activeSlide {
      opacity: 1;
      transform: translateX(0);
    }
    &.lastSlide {
      transform: translateX(-100%);
    }
    &.nextSlide {
      transform: translateX(100%);
    }
  }
}

.about__text__content {
  height: auto;
  z-index: 100;
  @include mixins.flex-direction;

  .about__company {
    @include mixins.display-start-center;
    gap: 12px;
    padding-bottom: 18px;
    width: 100%;

    .company__illu {
      width: 47px;
      height: 47px;
      background-color: variables.$white_color;
      border: solid 0.4px variables.$light-red-autumn;
      border-radius: 8px;
      @include mixins.display-center;

      img {
        width: 70%;
        background-size: contain;
        object-fit: contain;
        pointer-events: none;
      }
    }
    .about__title__H4 {
      font-size: 1.125rem;
      font-weight: 400;

      .span__title {
        font-weight: 600;
        color: variables.$dark_brown;
      }
    }
  }
  .about__desc {
    .about__title__H2 {
      font-size: variables.$font_size_h2;
      font-weight: variables.$font_weight_bold;
      padding-bottom: 20px;
    }
    .about__description__P {
      font-size: variables.$font_size_text;
      line-height: variables.$line_height1_6;
      width: 95%;
    }
  }
}

/*================================================
  Media Screen
  ================================================
*/

@media screen and (max-width: 1180px) {
  .about__container {
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
  }
  .about__image {
    aspect-ratio: 1;
    .about__exp {
      left: 130px;
    }
  }

  .about__text__content {
    width: 100%;
  }

  .about__desc {
    .about__description__P {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .about__image {
    width: 100%;
    aspect-ratio: 1 / 2;
    order: 2;

    .about__exp {
      left: 50%;
    }
  }
  .about__text__content {
    .about__desc {
      .about__title__H2 {
        padding-bottom: 40px;
      }
      .about__description__P {
        padding-bottom: 40px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .about__image {
    .about__exp {
      left: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about__image {
    aspect-ratio: 0.5;
    height: 400px;
  }
}
