/*================================================
  Fonts size/weight
  ================================================
*/
$header_title_h1: 4.75rem;
$font_size_h2: 1.875rem;
$font_size_text: 1.0625rem;
$font_weight_400: 400;
$font_weight_900: 900;
$font_weight_bold: bold;


/*================================================
  Height
  ================================================
*/
$line_height1_1 :1.1;
$line_height1_6 :1.6;
$min_vh100: 100vh;

/*================================================
  Padding
  ================================================
*/
$padding_title: 120px 0 40px 25px;

/*================================================
  Colors
  ================================================
*/
$light_brown: hsl(30, 80%, 96%);
$brown_normal: hsl(29, 73%, 50%);
$dark_brown: hsl(11, 77%, 34%);
$light_green: hsl(53, 54%, 64%);
$normal_green: hsl(78, 58%, 45%);
$dark_green: hsl(77, 37%, 24%);
$canary_coalmine: hsl(42, 91%, 63%);
$red_autumn: hsl(11, 81%, 49%);
$light-red-autumn: hsl(13, 94%, 54%);
$white_color: hsl(0, 0%, 100%);
$text_greyish: hsl(0, 0%, 78%);
$text_blackish: hsl(0, 0%, 22%);
$social_linkedin: hsl(210, 90%, 40%);
$social_instagram: hsl(0, 76%, 74%);
$social_twitter: hsl(204, 88%, 53%);


