/*================================================
  Fonts size/weight
  ================================================
*/
$header_title_h1: 4.75rem;
$font_size_h2: 1.875rem;
$font_size_text: 1.0625rem;
$font_weight_400: 400;
$font_weight_900: 900;
$font_weight_bold: bold;


/*================================================
  Height
  ================================================
*/
$line_height1_1 :1.1;
$line_height1_6 :1.6;
$min_vh100: 100vh;

/*================================================
  Padding
  ================================================
*/
$padding_title: 120px 0 40px 25px;

/*================================================
  Colors
  ================================================
*/
$dark_blue: #181b52;
$light_brown: #FDF5ED;
$brown_normal: #DD7D23;
$dark_brown: #9B2D14;
$light_green: #D5C972;
$normal_green: #8EB630;
$dark_green: #475427;
$canary_coalmine: #F7C44C;
$red_autumn: #E03E18;
$white_color: #FFF;
$text_blackish: #383838;


