@use "../../scss/variables";
@use "../../scss/mixins";

/*********
  Nav
 *********/
.nav__container {
  background-color: variables.$light_brown;
  height: 62.8px;
  @include mixins.display-evenly;
  position: relative;

  .logo {
    background-color: variables.$normal_green;
  }

  .navlink__content {
    flex-grow: 0.6;

    .nav__ul {
      @include mixins.display-end;
      font-size: 20px;
      position: relative;
      height: 0;

      .nav__li {
        @include mixins.list-style-type;
        padding: auto 5px;
        @include mixins.display-center;

        .nav__arrowdown {
          margin-left: -5px;
          cursor: pointer;

          &:hover {
            background-color: variables.$light_green;
          }
        }

        .nav__a {
          @include mixins.text-decoration;
          color: variables.$text_blackish;
          padding: 20px 8px;
          position: relative;

          &.activeLink::after {
            content: " ";
            background-color: variables.$brown_normal;
            @include mixins.display-flex;
            width: 100%;
            height: 5px;
            position: absolute;
            top: 58px;
          }
        }
      }
      .nav__dropdown {
        background-color: variables.$white_color;
        width: 120px;
        position: absolute;
        left: 63%;
        top: 63px;
        z-index: 900;
        overflow: hidden;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        display: none;

        .dropdown__li {
          @include mixins.list-style-type;
          line-height: 1.5;
          padding: 15px 80px 15px 0;
          font-size: 1.125rem;

          a {
            @include mixins.text-decoration;
            color: variables.$text_blackish;
            padding: 15px 80px 15px 15px;

            &:hover {
              background-color: variables.$light_brown;
              border-left: solid 3px variables.$light_green;
              color: variables.$text_blackish;
            }
          }
        }
        &.isVisible {
          display: block;
        }
      }
    }
  }
  .menu__like__connect {
    @include mixins.display-center;
    gap: 20px;

    .nav__favorites {
      @include mixins.display-flex;
      position: relative;

      .nav__like {
        @include mixins.display-center;
        width: 35.72px;
        height: 35.72px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        img {
          width: 100%;
        }
      }
      .nav__favorites-count {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: variables.$canary_coalmine;
        width: 21px;
        height: 21px;
        padding: 5px;
        border: none;
        border-radius: 50%;
        @include mixins.display-center;
        font-size: 0.75rem;

        &.hide__favorite {
          display: none;
        }
      }
    }

    .nav__connect {
      width: 35.72px;
      height: 35.72px;
      border: solid 2px variables.$red_autumn;
      border-radius: 50%;
      background-color: variables.$red_autumn;
      @include mixins.display-center;
      padding-top: 1px;
      cursor: pointer;
      transition: all 0.8s ease;

      &:hover {
        background-color: variables.$light_green;
        border: solid 2px variables.$light_green;
      }
    }

    .nav__menu {
      @include mixins.display-center;
      width: 35.72px;
      height: 35.72px;
      cursor: pointer;
      display: none;

      background-color: variables.$light_green;
      border: none;
      border-radius: 9px;

      .menu__burger {
        color: variables.$white_color;
        padding: 2px;
      }
    }
  }
  &.sticky__nav {
    position: sticky;
    top: 0;
    z-index: 100000;
  }
}

/********************
Media queries 
********************/
@media screen and (max-width: 1022px) {
  .nav__container {
    height: 62.8px;
    @include mixins.display-between;

    .logo {
      padding: 0 0 0 25px;
    }

    .menu__like__connect {
      padding: 0 25px 0 0;

      .nav__menu {
        display: flex;
      }
    }
  }

  .navlink__content {
    background-color: variables.$white_color;
    position: absolute;
    top: 63px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .nav__ul {
      width: 100%;

      &.active {
        height: 100vh; //auto;
        position: absolute;
        top: 63px;
        @include mixins.display-start;
        flex-direction: column;

        .nav__li {
          .nav__a {
            width: 100vw;
            padding: 40px 0;
            padding-left: 25px;

            &.activeLink::after {
              content: " ";
              background-color: variables.$brown_normal;
              display: flex;
              width: 100px;
              height: 5px;
              position: absolute;
              top: 98px;
            }
            &:hover {
              color: variables.$text_blackish;
              background-color: variables.$light_brown;
              border-left: solid 7px variables.$light_green;
            }
          }
          .nav__arrowdown {
            margin-left: -388px;
            z-index: 900;
          }
        }
      }
    }
  }
}
