/*********
  Nav
 *********/
.nav__container {
  background-color: rgb(235, 134, 134);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  .logo {
    background-color: lightcoral;
  }

  .navlink__content {
    background-color: red;
    flex-grow: 0.6;

    .nav__ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      position: relative;
      //height: 0;
      //padding: 31.4px 0;
      //background-color: lightcoral;

      .nav__li {
        list-style-type: none;
        padding: auto 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav__arrowdown {
          margin-left: -5px;
          cursor: pointer;

          &:hover {
            background-color: #181b52;
            color: #fff;
          }
        }

        .nav__a {
          text-decoration: none;
          color: #000;
          //background-color: lightgray;
          padding: 20px 8px;
          position: relative;

          &.activeLink::after {
            content: " ";
            background-color: #08a1ba;
            display: flex;
            width: 100%;
            height: 5px;
            position: absolute;
            top: 58px;
          }
        }
      }
      .nav__dropdown {
        background-color: #fff;
        width: 120px;
        position: absolute;
        left: 63%;
        top: 63px;
        z-index: 900;
        overflow: hidden;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        display: none;

        .dropdown__li {
          list-style-type: none;
          line-height: 1.5;
          padding: 15px 80px 15px 0;
          font-size: 1.125rem;

          a {
            text-decoration: none;
            color: #000;
            //background-color: lightblue;
            padding: 15px 80px 15px 15px;

            &:hover {
              background-color: #181b52;
              border-left: solid 3px #08a1ba;
              color: #fff;
            }
          }
        }
        &.isVisible {
          display: block;
        }
      }
    }
  }
  .menu__like__connect {
    //background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .nav__like {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35.72px;
      height: 35.72px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .nav__connect {
      width: 35.72px;
      height: 35.72px;
      border: solid 2px #181b52;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1px;
      cursor: pointer;
    }

    .nav__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35.72px;
      height: 35.72px;
      cursor: pointer;

      background-color: #181b52;
      border: none;
      border-radius: 9px;

      .menu__burger {
        color: #fff;
        padding: 2px;
      }
    }
  }
  &.sticky__nav {
    position: sticky;
    top: 0;
    //background-color: rgb(255, 255, 255);
    z-index: 100000;
  }
}

/*********
  Sidebar Nav
 *********/
.modal__sidebar {
  width: 100vw;
  height: calc(100vh - 63px);
  position: absolute;
  top: 63px;
  left: 0;
  background-color: hsla(0, 0%, 21%, 0.5);
  transform: translate(-100vw);

  &.active__modal {
    transform: translate(0vw);
  }
}

/********************
Media queries 
********************/
@media screen and (max-width: 1022px) {
  .navlink__content {
    background-color: lightgreen;
    position: absolute;
    top: 63px;
    width: 100vw;
    height: calc(100vh - 62.8px);

    .nav__ul {
      width: 100%;
      background-color: lightgrey;

      &.active {
        height: auto !important;
        position: absolute;
        top: 63px;
        background-color: rgb(124, 102, 250);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}
