@use "../../../scss/mixins.scss";

.people__container {
  max-width: 100%;
  height: auto;
  background-color: #edfdf8;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 12;

  .people__titleH2 {
    @include mixins.title-h2;
    padding: 90px 0 76px;
    text-align: center;
  }

  .peopleSlider__container {
    max-width: 100%;
    height: auto;
    padding-bottom: 180px;
    //background-color: red;

    .peopleSlider__content {
      margin: 0 auto;
      width: 60%;
      height: 560px;
      background-color: hsl(0, 0%, 100%);
      display: flex;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      border-radius: 22px;

      .sliderImages__container {
        //background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s linear;
        display: grid;
        grid-template-columns: 1fr;

        .slider__image {
          //background-color: red;
          width: 170px;
          height: 170px;
          align-self: center;
          margin: auto;
          border-radius: 85px;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
            border: solid 3px #2dc1df;
            border-radius: 85px;
          }
        }
        .slider__stars {
          //background-color: lightcoral;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin-top: -50px;
          width: 100%;
          height: 60px;

          .slider__title {
            @include mixins.title-h4;
            font-weight: bold;
            padding-bottom: 10px;
          }

          .slider__icons {
            display: flex;
            gap: 2px;
            color: gold;
            font-size: 22px;
          }
        }
        .slider__text {
          @include mixins.paragraph-body;
          //background-color: blue;
          margin-top: -100px;
          text-align: center;
          padding: 0 100px;
        }

        &.activeSlide {
          opacity: 1;
          transform: translateX(0);
        }
        &.lastSlide {
          transform: translateX(-100%);
        }
        &.nextSlide {
          transform: translateX(100%);
        }
      }
      .slider__previous {
        background-color: #181b5238;
        color: #2dc1df;
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 30px;
        font-size: 28px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }
      .slider__next {
        background-color: #181b5238;
        color: #2dc1df;
        z-index: 100;
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 28px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
