.partner__container {
  max-width: 100%;
  height: 300px;
  background-color: hsl(0, 0%, 100%);
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;

  .partner__content {
    width: 80%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    position: relative;
    display: flex;

    .partners__slider__logo {
      height: auto;
      display: flex;
      align-items: center;

      img {
        height: 80px;
        padding: 0 30px;
      }
      animation: slideshow 8s linear infinite;
    }
    &::before,
    &::after {
      width: 100px;
      height: 80px;
      position: absolute;
      content: "";
      background: linear-gradient(
        to right,
        hsl(0, 0%, 100%) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      top: 0;
      right: 0;
      transform: rotateZ(180deg);
    }
    @keyframes slideshow {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
